* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(174, 200, 217, 0.101);
}

header {
    background-image: url('./Assets/Hero-bg.png');
    height: 698px;
}

nav {
    display: flex;
    max-width: 1140px;
    height: 151px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}

.button {
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

.banner {
    max-width: 905px;
    margin: 158px auto;
    text-align: center;
}

.banner-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
    color: #252432;
}

.webflow {
    max-width: 1140px;
    margin: 114px auto;
    display: flex;
    justify-content: space-between;
}

.webflow-details {
    margin: 63px 0;
    max-width: 517px;
}

.webflow-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 23px;
    color: #252432;


}

.webflow-description {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #252432;
    opacity: 0.5;
    margin-bottom: 23px;

}

.webflow-img {
    border-radius: 48px;
    height: 100%;
}

.joined {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #4d47ff25;
    border-radius: 24px;
    text-align: center;
}

.joined-title {
    padding-top: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    color: #252432;
    font-weight: 700;

}

.joined-user {
    display: flex;
    justify-content: space-evenly;
}

.joined-heading {
    margin-top: 40px;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}

.joined-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 50px;

}

.review {
    max-width: 1140px;
    margin: 140px auto;
}

.users {
    display: flex;
    justify-content: space-between;
}

.user-review {
    display: flex;
    padding-left: 24px;
}

.user-info {
    margin-left: 6px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.user {
    max-width: 367px;
    height: 243px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px #F2EDED;
    border-radius: 14px;
}

.review>h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin-bottom: 50px;
}

.star {
    padding: 24px;
}

.review-details {
    padding-left: 24px;
    padding-bottom: 24px;
    font-family: "Inter", sans-serif;
}

.review-title {
    padding-left: 24px;
    padding-bottom: 8px;
    font-family: "Raleway", sans-serif;
}

.user-review>img {
    border-radius: 50%;
}

.user-name {
    opacity: 0.75;
}

.user-date {
    opacity: 0.5;

}

.focus {
    border-radius: 14px;
    background-color: white;
    max-width: 1140px;
    height: 697px;
    margin: 0 auto;
    text-align: center;
}

.focus-heading {
    padding-top: 71px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000000;
}

.focus-details {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 20px;

}

.focus>img {
    margin-top: 20px;
    border-radius: 48px;
}

.contact {
    max-width: 1140px;
    display: flex;
    height: 632px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.contact-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 97px;
}

.contact-details {
    width: 497px;
    height: 490px;
}

.contact-details label {
    font-family: "Inter", sans-serif;
    font-size: 18px;


}

.contact-details div {
    margin-top: 19px;
}

.contact-details input {
    width: 497px;
    height: 70px;
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-size: 18px;


}

::placeholder {
    padding: 20px 32px;
}

.contact-details textarea {
    width: 497px;
    height: 135px;
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    resize: none;


}

.contact-button {
    margin-top: 19px;
    width: 497px;
}

.footer {
    background-color: white;
    text-align: center;
    height: 428px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.footer-title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #4E47FF;
    padding-top: 104px;
    padding-bottom: 20px;
}

.footer-details {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #8987A1;
    margin-bottom: 40px;
}

.footer-nav ul li {
    list-style-type: none;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #8987A1;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}